
<h3>Top Data from Mongo Db</h3>

<!--<div class="grid grid-pad">
  <a *ngFor="let hero of api"   [routerLink]="['/detail', hero.id]"  class="col-1-4">
    <div class="module hero">
      <h4>{{hero.name}}</h4>
    </div>
  </a>
</div>-->
<table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"  class="row-border hover">
<thead>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Price</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
</thead>
<tbody>
  <tr *ngFor="let person of api" (click)="onSelect(person.id)"
      >
    <td>{{ person.id }}</td>
    <td>{{ person.name }}</td>
    <td>{{ person.price }}</td>
    <td> <button (click)="viewDetails(person.id)">View Details</button></td>
        <td> <button (click)="DeleteDetails(person.id)">Delete Details</button></td>
    <!--<td> <button (click)="viewDetails(person.id)">View Details</button></td>-->
       <!--<td><a href="http://localhost/mtl_project/web/app_dev.php/db-update/{{person.id}}">Edit</a></td>-->
       <!--<td><a href="http://localhost/mtl_project/web/app_dev.php/db-update/{{person.id}}">Edit</a></td>-->
  </tr>
</tbody>
</table>
